footer.main-footer
  .snipet
    p
      | OSW.motto="Peace, Love and Open Source" 
      span.blink.animated-cursor
  .OSW-info
    a(href='http://welcome.osweekends.com/' target='blank')  OSW 
    a(href='https://github.com/OSWeekends/batimagen' target='blank')  FORKME IN GITHUB
