footer.main-footer
  .snipet
    p
      | OSW.motto="Peace, Love and Open Sorce" 
      span.animated-cursor  
  .OSW-info
    a(href='#' target='blank')  OSW 
    a(href='https://github.com/OSWeekends/batimagen' target='blank')  ForkMe in GitHub
