pre.
   ÛÛÛÛÛÛÛÛÛÛÛ    ÛÛÛÛÛÛÛÛÛ   ÛÛÛÛÛÛÛÛÛÛÛ ÛÛÛÛÛ ÛÛÛÛÛÛ   ÛÛÛÛÛÛ   ÛÛÛÛÛÛÛÛÛ     ÛÛÛÛÛÛÛÛÛ  ÛÛÛÛÛÛÛÛÛÛ ÛÛÛÛÛÛ   ÛÛÛÛÛ
  °°ÛÛÛ°°°°°ÛÛÛ  ÛÛÛ°°°°°ÛÛÛ °Û°°°ÛÛÛ°°°Û°°ÛÛÛ °°ÛÛÛÛÛÛ ÛÛÛÛÛÛ   ÛÛÛ°°°°°ÛÛÛ   ÛÛÛ°°°°°ÛÛÛ°°ÛÛÛ°°°°°Û°°ÛÛÛÛÛÛ °°ÛÛÛ 
   °ÛÛÛ    °ÛÛÛ °ÛÛÛ    °ÛÛÛ °   °ÛÛÛ  °  °ÛÛÛ  °ÛÛÛ°ÛÛÛÛÛ°ÛÛÛ  °ÛÛÛ    °ÛÛÛ  ÛÛÛ     °°°  °ÛÛÛ  Û °  °ÛÛÛ°ÛÛÛ °ÛÛÛ 
   °ÛÛÛÛÛÛÛÛÛÛ  °ÛÛÛÛÛÛÛÛÛÛÛ     °ÛÛÛ     °ÛÛÛ  °ÛÛÛ°°ÛÛÛ °ÛÛÛ  °ÛÛÛÛÛÛÛÛÛÛÛ °ÛÛÛ          °ÛÛÛÛÛÛ    °ÛÛÛ°°ÛÛÛ°ÛÛÛ 
   °ÛÛÛ°°°°°ÛÛÛ °ÛÛÛ°°°°°ÛÛÛ     °ÛÛÛ     °ÛÛÛ  °ÛÛÛ °°°  °ÛÛÛ  °ÛÛÛ°°°°°ÛÛÛ °ÛÛÛ    ÛÛÛÛÛ °ÛÛÛ°°Û    °ÛÛÛ °°ÛÛÛÛÛÛ 
   °ÛÛÛ    °ÛÛÛ °ÛÛÛ    °ÛÛÛ     °ÛÛÛ     °ÛÛÛ  °ÛÛÛ      °ÛÛÛ  °ÛÛÛ    °ÛÛÛ °°ÛÛÛ  °°ÛÛÛ  °ÛÛÛ °   Û °ÛÛÛ  °°ÛÛÛÛÛ 
   ÛÛÛÛÛÛÛÛÛÛÛ  ÛÛÛÛÛ   ÛÛÛÛÛ    ÛÛÛÛÛ    ÛÛÛÛÛ ÛÛÛÛÛ     ÛÛÛÛÛ ÛÛÛÛÛ   ÛÛÛÛÛ °°ÛÛÛÛÛÛÛÛÛ  ÛÛÛÛÛÛÛÛÛÛ ÛÛÛÛÛ  °°ÛÛÛÛÛ
  °°°°°°°°°°°  °°°°°   °°°°°    °°°°°    °°°°° °°°°°     °°°°° °°°°°   °°°°°   °°°°°°°°°  °°°°°°°°°° °°°°°    °°°°° 
