doctype html
html(lang='en')
  head
    include includes/head.pug
  body
    h1 batimagen
    form#uploadForm(ref='uploadForm', action='/upload', method='post', enctype='multipart/form-data')
      input(type='file', name='sampleFile')
      br
      input(type='submit', value='Analizar!')
    include includes/scripts.pug
