doctype html
html(lang='en')
  head
    include includes/head.pug
  body
    include includes/logo.pug
    p Pick an image from your disk and discover the metadata attached to it
    form#uploadForm(ref='uploadForm', action='/upload', method='post', enctype='multipart/form-data')
      input(type='file', name='sampleFile')
      br
      input(type='submit', value='Analizar!')
    include includes/scripts.pug
