doctype html
html(lang='en')
  head
    include includes/head.pug
  body
    // include includes/logo.pug 
    main.container
      include includes/logo.pug
      include includes/results/metadata.pug
      include includes/results/virus.pug
      include includes/results/vision.pug
      include includes/results/forensic.pug
      
    include includes/scripts.pug
