doctype html
html(lang='en')
  head
    include includes/head.pug
  body
    // include includes/logo.pug 
    main.container
      include includes/logo.pug
      nav.results-nav_container
        ul.results-nav_list
          li.results-nav_element
            button(type='button', name='button')  METADATA 
          li.results-nav_element
            button.inactive(type='button', name='button')  FORENSIC 
      section.result-container
        article.vision-results
          include includes/results/metadata.pug
          include includes/results/virus.pug
          include includes/results/vision.pug
        article.forensic-results
          include includes/results/forensic.pug
          
      include includes/footer.pug
    include includes/scripts.pug
