/* --- --- RESULTS --- --- */

.container {
  padding: 0 10px;
}

/*   NAV   */
.results-nav_container {
  border-bottom: 2px dashed #00FF00;
  border-top: 2px dashed #00FF00;
  padding: 10px 0;
  margin-top: 10px;
  width: 100%;
}
.results-nav_list{
  display: flex;
  justify-content: space-around;
  padding: 0;
}
.results-nav_element {
  list-style: none;
  padding: 10px;
  width: 45%;
}
.results-nav_element > button {
  background-color: #00FF00;
  border: 0;
  font-size: 1.2em;
  font-weight: bold;
  height: 60px;
  width: 100%;
}
/* --- end nav --- */
ul > li {
  list-style-image: url("../img/right-arrow.svg");
}


/*   DETECTETD TEXT SECTION   */
.detect-text {
  margin-bottom: 60px;
}
