h2 Virus:    
- var virusLink = data.virusData.permalink

a(href=virusLink)  Analisis de virus en el archivo 
br
ul
  for key, value in data.virusData
    li #{value}: #{key}
  else
    li Sorry, no info!
if data.virusData.error
    strong Error?: #{error}
