h2 Vision:

include vision/detected_faces.pug
//include vision/detected_labels.pug
include vision/detected_landmarks.pug
//include vision/detected_text.pug
include vision/detected_logos.pug
include vision/detected_properties.pug
include vision/detected_safe_search.pug
include vision/detected_web_geo.pug
include vision/detected_full_text.pug









  
