h4 Detected Landmarks:

if data.vision
  for field in data.vision.detectLandmarks
    each value, key in field
      ul
        li #{key}: #{value}
  else
    ul
      li Sorry, no info!
else
    ul
      li Sorry, no info!
