h4 Detected Labels:
if data.vision
  for field in data.vision.detectLabels
    each value, key in field
      ul.hidden
        li #{key}: #{value}
  else
    ul
      li Sorry, no info!
else
    ul
      li Sorry, no info!
