
h4 Detected Safe Search 

if data.vision
  ul
    for value, key in data.vision.detectSafeSearch
      - value = value.toLowerCase().replace("_", " ");
      li #{key}: #{value}
    else
      ul
        li Sorry, no info!
else
    ul
      li Sorry, no info!